{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .container {
      display: flex;
      align-items: center;
      justify-content:space-between;
    }
  
    .image {
      flex: 1;
      padding: 20px;
      margin-right: 5px;
    }
  
    .content {
      flex: 1;
      padding: 20px;
    }
  
    .content h1 {
      font-size: 70px;
    }
    .span {
        color:yellow;
    }
  </style>


{% include 'includes/navbar.html' %}


<div class="container">
    <div class="image">
        <img src="{% static 'images/carwash.png' %}" style="max-height:90vh">
    </div>
    <div class="content">
        <h1>We <span class="span">help keep</span>Your Car and Bike Clean</h1>
    </div>
</div>


{% endblock %}






