{% extends 'base.html' %}
{% block content %}

<style>

  .form-errors {
    margin: 10px 0;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-radius: 5px;
}

.form-errors ul {
    list-style-type: none;
    padding: 0;
}

.form-errors li {
    padding-left: 10px;
    margin-bottom: 5px;
}

</style>


<section class="section-content padding-y">
  <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
    <article class="card-body">
      <header class="mb-4">
        <h4 class="card-title">Sign up</h4>
      </header>
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %} {{ form.as_p }}

        <div class="form-group col-md-12">
          {% comment %} {% for message in messages %}
              {% if message.tags == "success" %}
                  <div class="text-success alert alert-success font-weight-bold" role="alert" id="message-alert">{{message}}</div>
              {% endif %}
              {% if message.tags == "error" %}
                  <div class="text-danger alert alert-danger font-weight-bold" role="alert" id="message-alert">{{message}}</div>
              {% endif %}
          {% endfor %} {% endcomment %}

      </div> 
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-dark">
            Register
          </button>
        </div>
            {% comment %} {{ forms.email.errors }}
            {{ forms.username.errors }}
            {{ forms.password.errors }}
            {{ forms.errors }}
            {{ form.non_field_errors }} {% endcomment %}
   
      </form>
    </article>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->
  <p class="text-center mt-4">
    Have an account? <a href="{% url 'login' %}">Log In</a>
  </p>
</section>

<script>
  setTimeout(function () {
    var messageAlerts = document.querySelectorAll("#message-alert");
    if (messageAlerts) {
      messageAlerts.forEach(function (alert) {
        alert.style.display = "none";
      });
    }
  }, 8000);
</script>

{% endblock content %} 
