{% extends 'base.html' %}
{% block content %}
<section class="section-content padding-y">
  <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
    <article class="card-body">
      <header class="mb-4">
        <h4 class="card-title">Sign up</h4>
      </header>
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %} {{ form.as_p }} {% include 'includes/formerror.html' %}
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-dark">
            Register
          </button>
        </div>
        <!-- form-group end.// -->
      </form>
    </article>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->
  <p class="text-center mt-4">
    Have an account? <a href="{% url 'login' %}">Log In</a>
  </p>
</section>

<script>
  setTimeout(function () {
    var messageAlerts = document.querySelectorAll("#message-alert");
    if (messageAlerts) {
      messageAlerts.forEach(function (alert) {
        alert.style.display = "none";
      });
    }
  }, 8000);
</script>

{% endblock content %}
