<!-- success.html -->

{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}

<h1>Booking Successful</h1>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          Booking Details
        </div>
        <!-- Card body -->
        <div class="card-body">
          <p>Thank you for booking your service!</p>
          <p>Booking Details:</p>
          <ul>
            <li><strong>Make:</strong> {{ booking.make }}</li>
            <li><strong>Model:</strong> {{ booking.model }}</li>
            <li><strong>Vehicle No:</strong> {{ booking.vehicle_no }}</li>
            <li><strong>Date:</strong> {{ booking.start_date }}</li>
            <li><strong>Time:</strong> {{ booking.start_time }}</li>
          </ul>
          <p>If you have any questions or need to make changes, please contact us.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
