 {% extends 'base.html' %}
 {% load static %}
 
 {% block content %}

{% include 'includes/navbar.html' %}

    

<div class="container">
    <div class="row">
    <main class="col-md-9">
        <article class="card">
        <header class="card-header">
            <h3><strong class="d-inline-block mr-3">Vehicle Information</strong></h3>

        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                  <form action="{% url 'place_order' %}" method='POST'>
                    {% csrf_token %}

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        {{vehicle_form.make.label}}
                        {{vehicle_form.make}}
                        {% comment %} <label>Make</label>
                        <input type="text" class="form-control" name="" id=" "> {% endcomment %}
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        {{vehicle_form.model.label}}
                        {{vehicle_form.model}}

                        {% comment %} <label>Model</label>
                        <input type="text" class="form-control" name="" id=" "> {% endcomment %}
                      </div>

                    </div>
                    <div class="form-group">
                      {{vehicle_form.vehicle_type.label}}
                      {{vehicle_form.vehicle_type}}
                      {% comment %} <label>Vehicle Type</label>
                      <input type="text" class="form-control" name="" id=" "> {% endcomment %}
                    </div>
                    <div class="form-group">
                      {{vehicle_form.vehicle_number.label}}
                      {{vehicle_form.vehicle_number}}
                      {% comment %} <label>Vehicle Number</label>
                      <input type="text" class="form-control" name="" id=" "> {% endcomment %}
                    </div>
                    <div class="form-group">
                      {{vehicle_form.registration_no.label}}
                      {{vehicle_form.registration_no}}
                      {% comment %} <label>Vehicle Number</label>
                      <input type="text" class="form-control" name="" id=" "> {% endcomment %}
                    </div>
                    <div class="form-group">
                      {{vehicle_form.color.label}}
                      {{vehicle_form.color}}
                      {% comment %} <label>Vehicle Number</label>
                      <input type="text" class="form-control" name="" id=" "> {% endcomment %}
                    </div>
                    <div>
                      {{order_form.start_date.label}}
                      {{order_form.start_date}}
                      {% comment %} <label>Appointment Date</label>
                      <input type="Date" class="form-control" name="" id=" "> {% endcomment %}
                    </div>
                    <div>
                      {{order_form.start_time.label}}
                      {{order_form.start_time}}
                      {% comment %} <label>Appointment Date</label>
                      <input type="Date" class="form-control" name="" id=" "> {% endcomment %}
                    </div>
                    <div class="form-group col-md-6">
                      {{order_form.order_note.label}}
                      {{order_form.order_note}}
                        {% comment %} <label>Order Note</label>
                        <input type="text" class="form-control" name="" id=" "> {% endcomment %}
                    </div>
                    
                      {% comment %} </div> {% endcomment %}
                      <button class="btn-submit" type="submit">Submit</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>

        </article>
    </main>
</div>
</div>

{% comment %} if the appointment date is not in the future. {% endcomment %}

<script>
  document.getElementById("myForm").addEventListener("submit", function(event) {
      var appointmentDate = document.getElementById("appointment_date").value;
      var currentDate = new Date().toISOString().slice(0, 10);
      
      if (appointmentDate < currentDate) {
          event.preventDefault();
          document.getElementById("appointment_date").setCustomValidity("Please select a future date.");
      } else {
          document.getElementById("appointment_date").setCustomValidity("");
      }
  });
</script>

 {% endblock content %}
