{% extends 'base.html' %}

{% block content %}

{% include 'includes/navbar.html' %}

<style>
  .change-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
  }
</style>

<section class="section-content padding-y bg">
  <div class="container mt-3">
    <article class="card mb-4">
      <div class="card-body">
        <h4 class="card-title mb-4">Review cart</h4>
        <div class="row">
          <div class="col-md-6">
            <figure class="itemside mb-4">
              <p>Date: {{ order.slot_booking.booking_date }}</p>
              <p>Time: {{ order.slot_booking.slot }}</p>
            </figure>
          </div> <!-- col.// -->
        </div> <!-- row.// -->
        <a href="{% url 'packages'  %}" class="change-link">Change</a>
      </div> <!-- card-body.// -->
    </article>


    <!-- ============================ COMPONENT 2 ================================= -->
    <div class="row">
      <main class="col-md-8">
        <article class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Contact info</h4>
            <form method="POST" action="{% url 'place_order' %}">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>First Name</label>
                  {{form.first_name}}
                </div>
                <div class="form-group col-md-6">
                  <label>Last Name</label>
                  {{form.last_name}}
                </div>
                <div class="form-group col-md-6">
                  <label>Email</label>
                  {{form.email}}
                </div>
                <div class="form-group col-md-6">
                  <label>Phone</label>
                  {{form.phone}}
                </div>
                <div class="form-group col-md-12">
                  <label>Address Line</label>
                  {{form.address}}
                </div>
                <div class="form-group col-md-12">
                  <label>Street</label>
                  {{form.street}}
                </div>
                <div class="form-group col-md-6">
                  <label>Building</label>
                  {{form.building}}
                </div>
                <div class="form-group col-md-6">
                  <label>ZIP</label>
                  {{form.zip}}
                </div>
                <div class="form-group col-md-4">
                  <label>City</label>
                  {{form.city}}
                </div>
                <div class="form-group col-md-4">
                  <label>State</label>
                  {{form.state}}
                </div>
                <div class="form-group col-md-4">
                  <label>Country</label>
                  {{form.country}}
                </div> 
                <div class="form-group col-md-12">
                  <label>Order Note</label>
                  {{form.order_note}}
                </div> 
            </div> <!-- card-body.// -->
          </article> <!-- card.// -->
        </main> <!-- col.// -->
        <aside class="col-md-4">
          <div class="card">
            <div class="card-body">
              <dl class="dlist-align">
                <dt>Total price:{{price}}</dt>
                <dd class="text-right">{{ price }}</dd>
              </dl>
              {% comment %} <dl class="dlist-align">
                <dt>Tax:</dt>
                <dd class="text-right"> $10.00</dd>
              </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
            </dl> {% endcomment %}
            <hr>
            
            {% comment %} <p class="text-center mb-3">
              <img src="./images/misc/payments.png" height="26">

            </p> {% endcomment %}
            
             <input type="hidden" name='booking_id' value={{order.id}} />
             <input type="hidden" name='order_id' value={{packages.id}} />
             <input type="hidden" name='price' value='{{price}}'/>


            <button type="submit" class="btn btn-primary btn-block"> Place Order </button>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </form>
 

{% endblock content %}


